// Your custom styles

// Colors

// Unique
.bg-unique {
    background-color: $pink-darken-4;
}
.badge-unique {
    background-color: $pink-darken-4;
}

// Unique Light
.bg-unique-light {
    background-color: $pink-darken-2;
}